<div class="row">
    {{#if user}}
    <div class="col-md-5 mt-3">
        <div class="card">
            <div class="card-header">
                <h3>{{user.nombre}} {{user.apellido}}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <li class="nav-item">CC:
                        {{user.CC}}
                    </li>
                </div>
                <div class="row">
                    <li class="nav-item">Correo:
                        {{user.correo}}
                    </li>
                </div>
                <div class="row">
                    <li class="nav-item">Rol:
                        {{user.rol}}
                    </li>
                </div>
                <div class="form-group mt-4">
                    <a href="/users/editUser/{{user.id}}" class="btn btn-primary btn-block">Actualizar</a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>